.holder{
    height: 80%;
    width: 80%;
    position: relative;
}


.nisipi, .clinic, .crossroads, .dadandchild, .girl, .goats, .purplebucket, .road, .roadside, .soccer, .soccer2, .tree, .village, .womanwithbabe{
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: black;
}


.nisipi{
    top: 81%;
    right: 60%;
}

.clinic{
    top: 52%;
    right: 62%;
}

.crossroads{
    top:53%;
    right: 70%;
}

.dadandchild{
    top: 68%;
    right: 72%;
}

.girl{
    top: 58%;
    right: 50%;
    
}

.goats{
    top: 37%;
    right: 75%;
}

.road{
    top: 63%;
    right: 78%;
}

.soccer{
    top: 57%;
    right: 80%;
}

.tree{
    top: 56%;
    right: 40%;
}

.village{
    top: 47%;
    right: 35%;
}

.womanwithbabe{
    top: 40%;
    right: 40   %;
}


